a:focus-visible,
*[tabindex]:focus-visible,
input[type='file']:focus-visible {
    border-radius: rem-calc(5);
    outline: 2px solid #171111;
    outline-offset: rem-calc(5);

    .navbar_grid & {
        outline-color: #fff;
    }
}

.hide {
    display: none !important;
}

.hide,
.hide-tablet {
    @include media-breakpoint-down(md) {
        display: none !important;
    }
}


.hide-mobile-landscape {
    @include media-breakpoint-down(sm) {
        display: none !important;
    }
}

.hide-mobile {
    @include media-breakpoint-down(xs) {
        display: none !important;
    }
}